
<div class="container">
  <div class="offset-sm-3 col-sm-6">    
    <br/>
    <h6>Forgot Password</h6>
    <br/>
    <div>
      <p>Enter the username that you used to register</p>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" required>
        </div>
        <button type="submit" class="btn btn-primary col">Reset Password</button>
      </form>
    </div>
    <button type="button" class="btn btn-link col" [routerLink]="['/login']">Login</button>
  </div>
</div>
