<!-- <div class="container">
  <div class="offset-sm-3 col-sm-6">      
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">         
          <a class="navbar-brand">Welcome, {{username}}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">        
          <li>
            <a href="#"><span class="fas fa-sign-out-alt"></span> Logout</a>
          </li>
          <li>
            <a [routerLink]="['/settings']"><span class="fas fa-user-cog"></span> Settings</a>
          </li>
        </ul>
      </div>
    </nav>
    <hr>
  </div>
</div> -->


<!-- <div class="container">
    <div class="offset-3 col-6">
      <div class="row">
        <div class="col-10">
          Welcome,{{username}}
        </div>      
        <div class="col-2 text-right">          
          <div ngbDropdown class="d-inline-block" placement="bottom-right">
            <button class="btn btn-outline-primary glyphicon glyphicon-cog" id="dropdownBasic1" ngbDropdownToggle>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">              
              <ul>
                  <li><a href="#"><span class="fas fa-user-cog"></span> Logout</a></li>
                  <li><a [routerLink]="['/settings']"><span class="glyphicon glyphicon-log-in"></span> Settings</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <hr>
    </div>    
</div>   -->

<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->

  <div class="container">
      <div class="offset-3 col-6">
        <nav  class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
          <a class="navbar-brand" href="#">Angular</a>
          <button class="navbar-toggler hidden-sm-down" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" 
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse  pull-right" id="navbarsDefault">
            <!-- <ul class="navbar-nav mr-auto navbar-right">
              <li><a href="#"><span class="fas fa-user-cog"></span> Logout</a></li>
              <li><a [routerLink]="['/settings']"><span class="glyphicon glyphicon-log-in"></span> Settings</a></li>
              <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>Files</a>
                <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">HTML</a>
                  <a class="dropdown-item" href="#">TS</a>
                  <a class="dropdown-item" href="#">JS</a>
                </div>
              </li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
          </div>
        </nav>
        <!-- <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">                
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
              </div>
            </div>
          </nav> -->
    </div>
  </div>
