  <div class="container">
      <div class="offset-lg-2 col-lg-8">
        <nav  class="navbar navbar-dark bg-primary fixed-top">
          <a class="navbar-brand" href="#">Angular</a>
          <button class="navbar-toggler hidden-sm-down" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" 
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse  pull-right" id="navbarsDefault">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a class="nav-link" [routerLink]="['/settings']"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
                <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
          </div>
        </nav>
        <hr/>
        <hr/>
        <div class="row">          
          <button type="button" [routerLink]="['/addhospital']" class="btn btn-outline-primary col-12" style="position: absolute; left: 0px;">Add Hospital</button>
        </div>
        <br/>
        <br/>
        <h5>Appointments</h5>
        <div *ngIf="fetching" class="loader"></div>        
        <div *ngIf="userHospitalAppointments?.length > 0">
          <div *ngFor="let userHospitalAppointment of userHospitalAppointments">
            <h6>{{userHospitalAppointment.hospitalName}}<span>({{userHospitalAppointment.hospitalId}})</span></h6>
            <div *ngIf="userHospitalAppointment?.appointments?.length == 0">
                <label class="text-muted font-italic">No appointments.</label>
            </div>
            <div style="overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;background-color: gainsboro">              
              <div class="row flex-row flex-nowrap card-group">
                  <div class="col-6 col-xs-9" *ngFor="let appointment of userHospitalAppointment.appointments" style="margin: 5px;">
                      <div class="card border-light mb-3">
                        <div class="card-header">{{appointment.dateOfAppointmentLong | date:'dd/MM/yyyy @ h:mma'}}</div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{appointment.dateOfAppointmentLong | date:'EEE'}}</h5>
                          <p class="card-text">Some quick example text to build on the .</p>
                        </div>
                      </div>
                  </div>                  
              </div>
            </div>            
            <hr/>
          </div>
        </div>
      </div>
  </div>
